/* -------------------body--------------------- */
.body {
  width: 100vw;
  background-color: #00000042;
  backdrop-filter: blur(2px);
  color: #fff;
}
body {
  transition: all 1s ease;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: #fff;
}
/* ----------------preloader------------------- */
.preloader {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(31, 27, 43);
  z-index: 9999999;
}
.loader_container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: block;
  position: relative;

  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  /* -webkit-animation: spinRight 2s linear infinite; */
  animation: spinRight 2s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  /* -webkit-animation: spinRight 3s linear infinite ; */
  animation: spinRight 1s linear infinite reverse;
}
.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  /* -webkit-animation: spinRight 1.5s linear infinite; */
  animation: spinRight 1.5s linear infinite;
}
.hide {
  display: none;
}
@keyframes spinRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* ----------------preloader------------------- */
.navbar {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  left: 0;
  min-width: 100vw;
  background-color: transparent;
  backdrop-filter: blur(1000px);
  z-index: 999;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul a {
  padding: 2rem 2rem;
  font-size: 24px;
}
/* ----------------------home ----------------- */
.home {
  width: 100vw;
}
.home .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: calc(85vh - 100px);
}
.home .welcome {
  font-size: 48px;
  line-height: 56px;
}
.home .org_name {
  font-size: 114px;
  line-height: 120px;
}
.home .scroll_down {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 46px;
  color: rgba(255, 255, 255, 0.377);
  animation: upDown 0.5s infinite 0s alternate ease-in;
  cursor: pointer;
  user-select: none;
}
@keyframes upDown {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}

/* ----------------------home ----------------- */
/* ----------------------about ----------------- */
.about_us {
  width: 100vw;
}
.about_us .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.about_us .content {
  flex: 1.5;
  padding: 0 5rem;
}
.about_us .content .heading {
  font-size: 80px;
}
.about_us .content .description {
  font-size: 24px;
}

.about_us .illustration_container {
  position: relative;
  min-height: 100vh;
  flex: 1;
}
.outer_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.circle::after {
  content: "";
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border-radius: 50%;

  height: 90px;
  width: 90px;
  background-color: rgb(255, 251, 0);
}
.circle::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgb(52, 176, 233);
  border-radius: 50%;
  top: calc(50% - 20px);
  left: -20px;
  transform-origin: 120px;
  animation: spin_01 03s linear infinite;
}
.one {
  position: relative;
  height: 400px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.one::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: rgb(35, 219, 127);
  border-radius: 50%;
  top: calc(50% - 35px);
  left: -35px;
  transform-origin: 235px;
  animation: spin_01 6s linear infinite;
}

@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ------------------contact us------------- */
.contact_us {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.contact_us .container {
  display: flex;
  flex-direction: column;
  background-color: #223548;
  width: 680px;
  height: 750px;
  margin-top: 20px;
}
.contact_us .heading {
  height: 130px;
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
  justify-self: flex-start;
  padding: 0 40px;
  background-color: #2b4d70;
  margin-bottom: 20px;
}
.form_child {
  position: relative;
  display: flex;
  flex-direction: column;
}
.contact_us form {
  display: flex;
  height: calc(100% - 150px);
  justify-content: space-between;
  flex-direction: column;
  padding: 0 40px;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 20px;
}
.contact_us textarea {
  resize: none;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 2px solid rgb(124, 215, 235);
  color: rgb(124, 156, 235);
  font-size: 18px;
  outline: none;
}
.contact_us form input {
  padding: 1rem 1.25rem;
  background-color: transparent;
  border: 2px solid rgb(124, 215, 235);
  color: rgb(124, 156, 235);
  font-size: 18px;
  outline: none;
}
.name::before {
  content: "Write name";
}
.subject::before {
  content: "Write subject";
}
.email::before {
  content: "Write email";
}
.message::before {
  content: "Write message";
}

.form_child::before {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 0;
  color: rgb(124, 215, 235);
  margin: 0 1rem;
  padding: 2px;
  border: 2px solid rgb(124, 215, 235);
  transform: translateY(-50%);
  background-color: #223548;
}
/* -----------------responsiveness----------- */
@media (max-width: 1600px) {
  .contact_us {
    transform: scale(0.7);
  }
  .home {
    transform: scale(0.9);
  }
  .about_us {
    transform: scale(0.8);
  }
}

@media (max-width: 1000px) {
  .contact_us {
    transform: scale(1);
  }
  .home {
    transform: scale(1);
  }
  .about_us {
    transform: scale(1);
  }
  .illustration_container {
    display: none;
  }
}
